// @-webkit-keyframes diagonal-slide {
//   0% {
//     left: 0;
//     top: 0;
//   }
//   100% {
//     left: 30%;
//     /* top: 100px; */
//   }
// }

@keyframes right-slide {
  0% {
    left: 0;
    // top: 0;
  }
  100% {
    left: 25%;
    top: 0;
  }
}

@keyframes left-down-slide {
  0% {
    right: 0;
    top: 0;
  }
  100% {
    right: 120%;
    top: 25%;
  }
}

@keyframes top-slide {
  0% {
    right: 0;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 55%;
  }
}

.portfolio-container {
  height: 70%;
  width: 22%;
  background-color: #fff;

  //   &--animation {
  //     animation: right-slide 3s;
  //     left: 25%;
  //     position: relative;
  //     z-index: 0;
  //   }
}

.cv-container {
  height: 96%;
  width: 52%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.contacts-about {
  height: 96%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-container {
  height: 54%;
  width: 100%;
  background-color: #fff;

  //   &--animation {
  //     animation: left-down-slide 3s;
  //     right: 120%;
  //     top: 25%;
  //     position: relative;
  //     z-index: 0;
  //   }
}

.contacts-container {
  height: 37%;
  width: 100%;
  background-color: #fff;

  //   &--animation {
  //     animation: top-slide 3s;
  //     // right: 120%;
  //     bottom: 55%;
  //     position: relative;
  //     z-index: 0;
  //   }
}

.api-container {
  height: 6%;
  width: 100%;
}

.api {
  height: 100%;
  width: 48%;
}

.pdf {
  height: 100%;
  width: 48%;
}

//------------------CV
.cv-switch {
  > span {
    width: 50%;
  }
}
