.portfolio {
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__name {
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    color: #1a1a1a;
    padding: 20px 0 5px 0;
  }
}

// .button-container {
//   display: flex;
//   justify-content: space-between;
//   text-align: justify; /* IE10-, Firefox 12-21 */
//   text-align-last: justify;
// }
