.portfolio {
  &__item {
    position: relative;

    transition: height 0.6s ease-out;
  }

  &__preview-button {
    position: absolute;
    top: 23px;
    right: 20px;
  }

  &__gif-preview {
    height: 0;

    transition: height 0.4s ease-out;

    &--show {
      transition: height 0.4s ease-out;
    }
  }
}
