.header {
  height: 120px;
  max-height: 120px;
  width: 100%;
  background-image: url("../../assets/img/cvHeader.jpg");
  border-radius: 30px 30px 0 0;

  // background-position: 25% 47%;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  position: relative;

  p {
    display: inline-block;
    text-align: left;
    font-weight: 500;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  &__name {
    font-size: 30px;
    position: absolute;
    right: 33px;
    bottom: 40px;
  }

  &__position {
    font-size: 18px;
    position: absolute;
    right: 75px;
    bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__name {
      font-size: 25px;
      position: absolute;
      right: 40px;
      bottom: 30px;
    }

    &__position {
      font-size: 15px;
      position: absolute;
      right: 83px;
      bottom: 16px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    &__name {
      font-size: 22px;
      position: absolute;
      right: 35px;
      bottom: 25px;
    }

    &__position {
      font-size: 13px;
      position: absolute;
      right: 80px;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 222px;
    &__name {
      font-size: 21px;
      left: 7px;
      bottom: 23px;
    }

    &__position {
      font-size: 15px;
      position: absolute;
      left: 22px;
      bottom: 9px;
    }
  }
}
