.tool {
  position: relative;

  height: 46%;
  width: 100%;

  cursor: pointer;

  svg {
    height: 30px;
    width: 30px;
    margin-left: 30px;
  }

  p {
    margin: 0 0 0 16px;
    font-weight: 600;
    font-size: 16px;
  }
}
